body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

ul{
    list-style:none;
}

.container{
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    height: 50vh;
}

.question-container{
    width: 75%;
    height: 100%;
    background-color: #d4d4d4;
}

.task-maker-container{
    width: 20%;
    height: 100%;
    background-color: #ccc;

} 

.task-creation-wizard{
    padding: 1em;
}


label {
    font-weight: bold;
    margin-bottom: 20px;
}

input, select {
    margin-bottom: 10;
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
